/* General Body Styles */
body {
    font-family: 'SF Pro', sans-serif;
    margin: 0;
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'SF Pro', sans-serif;
    font-weight: 500;
}

.btn {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.btn-primary:hover {
    background-color: #fff;
    color: #000;
}

.btn-secondary {
    background-color: transparent;
    color: #000;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.btn-secondary:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
} 