<footer class="main-footer-container">
    <div id="cxnpl-heading-container">
        <video autoplay loop muted playsinline>
            <source src="media/flowing_gradient.mp4" type="video/mp4">
        </video>
        <h1>constantinople</h1>
    </div>
    <div class="footer-inner-content">
        <div class="footer-content">
            <div class="footer-links">
                <div class="link-column">
                    <h4>How it Works</h4>
                    <ul>
                        <li><a href="#">What’s Included</a></li>
                        <li><a href="#">Gift Superpower</a></li>
                        <li><a href="#">Member Login</a></li>
                    </ul>
                </div>
                <div class="link-column">
                    <h4>Partnerships</h4>
                    <ul>
                        <li><a href="#">For Companies</a></li>
                        <li><a href="#">For Creators</a></li>
                        <li><a href="#">For Partners</a></li>
                    </ul>
                </div>
                <div class="link-column">
                    <h4>Superpower Labs</h4>
                    <ul>
                        <li><a href="#">For Teams</a></li>
                        <li><a href="#">Manifesto</a></li>
                        <li><a href="#">Join the Team We’re hiring!</a></li>
                    </ul>
                </div>
                 <div class="link-column">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-social">
                <h4>Follow us</h4>
                 <div class="social-icons">
                    <a href="#"><img src="media/blank.png" alt="X/Twitter"></a>
                    <a href="#"><img src="media/blank.png" alt="Instagram"></a>
                    <a href="#"><img src="media/blank.png" alt="LinkedIn"></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div>
                <p class="copyright-text">2025 CONSTANTINOPLE</p>
                <p class="copyright-text">ALL RIGHTS RESERVED</p>
            </div>
            <ul>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</footer> 